.tags {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

        @media(max-width:768px) {
            .tags {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 70%;
                margin: auto;
            }
        }

.tag {
    background-color: var(--cor-padrao);
    border-radius:var(--border-radius);
    padding: 1rem 10%;
    box-shadow:var(--box-shadows);
}

    .tag-a {
        border-top: 5px solid var(--cor-primaria);
    }

    .tag-b {
        border-top: 5px solid var(--cor-accents);
    }

    .tag-c {
        border-top: 5px solid var(--cor-secundaria);
    }

    .x {
        background-color:var(--cor-accents);
        color:var(--cor-padrao);
        border-radius:var(--border-radius);
        box-shadow:var(--box-shadows);
        padding: 0.9rem;
    }