* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     background-color: #f5f3ff;
     font-family: 'Arial', sans-serif;

}

.title-a {
    align-items: center;
    color: #6D28D9;
    display: flex;
    margin: 0px 50px 10px 50px;
}

.title-a::before {
    background-color: #F97316;
    border-radius: 20px;
    content:"";
    display: inline-block;
    height: 25px;
    margin-right: 15px;
    width: 5px;
}

main h2 {
    align-items: center;
    color: #6D28D9;
    display: flex;
    margin-bottom: 20px;
    margin: 20px 200px 10px 200px;
}

main h2::before {
    background-color: #F97316;
    border-radius: 20px;
    content:"";
    display: inline-block;
    height: 25px;
    margin-right: 15px;
    width: 5px;
}

.menu {
    align-items: flex-end;
    background-color: #6D28D9;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo {
    height: 25px;
    object-fit: contain;
    width: 25px;
}

.seção {
    display: flex;
    gap: 20px;
}

.menu-b {
    align-items: center;
    background-color: #6D28D9;
    border-top: 1px solid #ffffff;
    color: #f5f3ff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.buttons {     
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.button {
    background-color: #ffffff;
    border-radius: 20px; 
    color: #6D28D9;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    transition: background 0.3s;
}

.button:hover {
    background-color: #f5f3ff;
}

.text-a {
    align-items: center;
    color: #1E1B4B;
    display: flex;
    gap: 50px;
    padding: 0px 200px;
}

.b {
    background-color: #ebe8f8;
    border-radius: 20px;
    display: flex;
    margin: 50px 210px 20px 210px;
    padding: 20px 10px 20px 10px;
}

.text-b {
    color: #1E1B4B;
    display: flex;
}

.tags {
    display: flex;
    gap: 20px;
    padding: 0px 200px;
}

.tag {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px;
}

.tag h3 {
    color: #F97316;
    margin-bottom: 15px;
}

.tag ul {
    line-height: 1.6;
    list-style-type: disc;
    padding-left: 20px;
}

.tag-a { border-top: 5px solid #6D28D9; }
.tag-b { border-top: 5px solid #f97316; }
.tag-c { border-top: 5px solid #34D399; }

.especial {
    color: #f97316;
    display: flex;
    gap: 20px;
    padding: 10px 210px 20px 210px;
}

.x {
    background-color: #eee3dc;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    margin: 20px 210px 50px 210px;
}

table th {
    background-color: #6D28D9;
    color: #f5f3ff;
    padding: 10px;
    text-align: start;
}

table td {
    background-color: #ffffff;
    color: #1E1B4B;
    padding: 10px;
}

.td-a {
    background-color: #f0f0f0;
}

.td-b {
    background-color: #f0f0f0;
}

.th-a {
    border-top-left-radius: 20px;
}

.th-b {
    border-top-right-radius: 20px;
}


.blocos {
    display: flex;
    gap: 20px;
    padding: 0px 200px;
}

.bloco h3 {
    color:#F97316;
    margin-bottom: 10px;
}

.bloco {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px;
}

.blocos ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
}

.bloquinhos {
    background-color: #6D28D9;
    border-radius: 20px;
    color: #ffffff;
    margin-right: 10px;
    padding: 5px 10px;
}

.bloco-item1 { border-top: 5px solid #f97316; }
.bloco-item2 { border-top: 5px solid #f97316; }
.bloco-item3 { border-top: 5px solid #F97316; }

.Fiap {
    color: #1E1B4B;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 20px 210px 50px 210px;
}

.forms {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #6D28D9;
    padding: 3px;
}

form label::after {
    content: "*";
    color: #F97316;
}

form input {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: transparent;
}

form textarea {
    border: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3px;
}

form button {
    color:white;
    background-color: #6D28D9;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 24px;
    transition: background 0.3s;
}

form button:hover {
    background-color: #ebe8f8;
    color: #34D399;
}

label  {
    color: #1E1B4B;
}

form h3 {
    color: #F97316;
}

.iaP {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #1E1B4B;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 225px 50px 10px;
}

.iaP h3 {
    color: #6D28D9;
}

.iaP ul {
    display: flex;;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
}

.iaP li {
    background-color: #6D28D9;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 10px;
}

footer {
    align-items: center;
    background-color:#1E1B4B;
    color: #f5f3ff;
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

a:link {
    color: #34D399;
    text-decoration: none;
}

a:visited {
    color: #F97316;
}