* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}
#voltar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: none;
  z-index: 100;
}

#voltar:hover {
  background-color: #4b0082;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--cor-background);
}

main {
    padding: 1.5rem 5%;
    max-width: 1368px;
    color:var(--cor-text);
    margin-inline: auto;
}

p  {font-size: clamp(0.9rem, 1.5vw, 1.1rem);}
h1 {font-size: clamp(2rem, 4vw, 3rem);}
h2 { font-size: clamp(1.5rem, 3vw, 2rem);padding: 1rem;}
h3 { font-size: clamp(1.1rem, 2.5vw, 1.5rem);}

p::before {
    content:"";
    padding: 3px;
}

h2::before {
    content: "";
    background-color: var(--cor-accents);
    padding: 0.1px 4px;
    border-radius: var(--border-radius);
    margin-right: 10px;
}

h3 {
    color: var(--cor-accents);
    padding: 0.5rem 1%;
}

@media (max-width: 768px) {

    html {
        font-size: 16px;
    }
    body {
        font-family: sans-serif;
    }
}

img {
    border-radius:var(--border-radius);
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

@media (max-width: 768px) {

    img {
        max-width: 10rem;
        align-self: center;
    }
}

/* * {
    outline: 2px solid red !important;
} */

a:link {
    color: var(--cor-secundaria);
    text-decoration: none;
}

a:visited {
    color: var(--cor-accents);
}

